body{
    background-image: url("./image/cover.jpg");
    position: relative;
    overflow: hidden;

}
.main{
    height: 100vh;
}
.rectangle{
    width: 700px;
    height: 500px;
    background-color: white;
    box-shadow: darkgrey;
}
.globalScore{
    width: 150px;
}
button{
    border: none;
}
